<div class="container py-1">
    <div class="row">
        <div class="col-md-9">
            <div class="d-flex flex-row justify-content-evenly pb-1">
                <div class="d-flex flex-column flex-grow-1">
                    <div class="btn-group btn-group-justified">
                        <button class="file-upload btn btn-secondary btn-lg" (click)="fileUpload.click()" aria-label="upload file" data-bs-toggle="tooltip" data-bs-placement="top" title="Import todo.txt file">
                            <i class="bi bi-cloud-upload"> </i><span class="fw-light d-none d-lg-inline"> {{fileName || 'Import todo.txt File'}}</span>
                        </button>
                        <button class="btn btn-lg btn-primary" (click)="click_AddTask()" aria-label="add task" data-bs-toggle="tooltip" data-bs-placement="top" title="New task">
                            <i class="bi bi-clipboard-plus"> </i><span class="fw-light d-none d-lg-inline"> New Task</span>
                        </button>
                        <button class="btn btn-lg {{(isDirty) ? 'btn-warning' : 'btn-success'}}" (click)="click_SaveTasks()" aria-label="save tasks to file" data-bs-toggle="tooltip" data-bs-placement="top" title="Export tasks">
                            <i class="bi bi-save"> </i><span class="fw-light d-none d-lg-inline"> Export Tasks</span>
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="top" title="Show closed tasks">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" (change)="toggleShowClosed()" [checked]="showClosed">
                        <label class="form-check-label d-none d-lg-inline" for="flexSwitchCheckDefault">{{(showClosed) ? 'Hide Closed Tasks' : 'Show Closed Tasks'}}</label>
                    </div>
                </div>
            </div>
            <input type="file" class="file-input visually-hidden" [accept]="requiredFileType" (change)="processToDoFile($event)" #fileUpload />
            <div class="input-group input-group-lg">
                <input #todoTxtFilter type="text" class="form-control" placeholder="Type filter(s)" aria-label="task filter" aria-describedby="button-addon2" (keyup)="keyup_UpdateFilter(todoTxtFilter.value)">
                <button class="btn btn-primary" type="button" id="button-addon2" (click)="click_ClearFilter($event); todoTxtFilter.value=''" data-bs-toggle="tooltip" data-bs-placement="top" title="Clear filter">
                    <span class="bi bi-x-circle"></span> <span class="fw-light d-none d-lg-inline" aria-label="clear filter"> Clear Filter</span>
                </button>
            </div>
            <div *ngFor="let t of getTasks()">
                <div *ngIf="editingTaskId != t.id" class="btn-group d-flex flex-nowrap pt-1" role="group">
                    <button *ngIf="t.isActive" class="col-xs-2 btn btn-lg btn-light" (click)="click_MarkComplete(t.id)" aria-label="mark as complete" data-bs-toggle="tooltip" data-bs-placement="top" title="Mark complete"><i class="bi bi-circle"></i></button>
                    <button *ngIf="!t.isActive" class="col-xs-2 btn btn-lg btn-success" (click)="click_MarkActive(t.id)" aria-label="mark as incomplete" data-bs-toggle="tooltip" data-bs-placement="top" title="Unmark / Make active"><i class="bit bi-check-circle"></i></button>
                    <button class="btn btn-lg {{(t.isActive) ? 'btn-light' : 'btn-outline-success'}} text-start w-100" (click)="click_StartEditTask(t.id)" aria-label="edit task" [innerHTML]="getMarkupForTask(t.text)" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit task"></button>
                </div>
                <div *ngIf="editingTaskId == t.id">
                    <div id="textarea_{{t.id}}" tabindex="0" contenteditable="true" class="textarea btn btn-lg pt-1 text-start w-100" [innerHTML]="getMarkupForTask(t.text)" (keydown.enter)="click_SaveTaskEdit(t.id)" (keydown.esc)="click_CancelTaskEdit()"></div>
                    <div class="btn-group d-flex flex-wrap pt-1" role="group">
                        <button class="btn btn-success" (click)="click_SaveTaskEdit(t.id)" aria-label="save changes" data-bs-toggle="tooltip" data-bs-placement="top" title="Save Changes (Enter)" data-bs-toggle="tooltip" data-bs-placement="top" title="Save changes"><i class="bi bi-check"></i><span class="fw-light d-none d-lg-inline"> {{(isAddingNew) ? 'Save' : 'Update'}} Task</span></button>
                        <button class="btn btn-warning" (click)="click_CancelTaskEdit()" aria-label="discard changes" data-bs-toggle="tooltip" data-bs-placement="top" title="Discard Changes (Esc)" data-bs-toggle="tooltip" data-bs-placement="top" title="Discard changes"><i class="bi bi-x"></i><span class="fw-light d-none d-lg-inline"> Discard Changes</span></button>
                        <button *ngIf="!isAddingNew" class="btn btn-danger" (click)="click_DeleteTask(t.id)" aria-label="delete task" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete task"><i class="bi bi-trash"></i><span class="fw-light d-none d-lg-inline"> Delete Task</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-md-inline col-md-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="card p-0">
                        <div class="card-header"> Priorities</div>
                        <div class="btn-group-vertical">
                            <button *ngFor="let p of getPriorities()" class="btn btn-outline-secondary list-group-item" (click)="keyup_UpdateFilter(p); todoTxtFilter.value=p" data-bs-toggle="tooltip" data-bs-placement="top" title="Filter by {{p}}"> {{p}}</button>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="card p-0">
                        <div class="card-header"> Projects</div>
                        <div class="btn-group-vertical">
                            <button *ngFor="let p of getProjects()" class="btn btn-outline-secondary list-group-item" (click)="keyup_UpdateFilter(p); todoTxtFilter.value=p" data-bs-toggle="tooltip" data-bs-placement="top" title="Filter by {{p}}"> {{p}}</button>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="card p-0">
                        <div class="card-header"> Contexts</div>
                        <div class="btn-group-vertical">
                            <button *ngFor="let p of getContexts()" class="btn btn-outline-secondary list-group-item" (click)="keyup_UpdateFilter(p); todoTxtFilter.value=p" data-bs-toggle="tooltip" data-bs-placement="top" title="Filter by {{p}}"> {{p}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>