<div *ngFor="let t of getTasks()">
    <div class="btn-group d-flex flex-nowrap pt-1" role="group">
        <button *ngIf="t.isActive && editingTask != t.id" class="col-xs-2 btn btn-lg btn-light" (click)="click_MarkComplete(t.id)" aria-label="mark as complete"><i class="bi bi-circle"></i></button>
        <button *ngIf="!t.isActive && editingTask != t.id" class="col-xs-2 btn btn-lg btn-success" (click)="click_MarkActive(t.id)" aria-label="mark as incomplete"><i class="bit bi-check-circle"></i></button>
        <button *ngIf="editingTask != t.id" class="btn btn-lg {{(t.isActive) ? 'btn-light' : 'btn-outline-success'}} text-start w-100" (click)="click_EditTask(t.id)" aria-label="edit task" [innerHTML]="getMarkupForTask(t.id)"></button>
    </div>
    <div class="btn-group d-flex flex-wrap pt-1" role="group">
        <div *ngIf="editingTask == t.id" class="btn btn-lg btn-light w-90">
            <div id="textarea_{{t.id}}" contenteditable="true" class="textarea text-start">{{t.text}}</div>
        </div>
        <button *ngIf="editingTask == t.id" class="btn btn-lg flex-shrink-1 btn-success" (click)="click_SaveTaskEdit(t.id)" aria-label="save changes"><i class="bi bi-check"></i></button>
        <button *ngIf="editingTask == t.id" class="btn btn-lg flex-shrink-1 btn-warning" (click)="click_CancelTaskEdit()" aria-label="discard changes"><i class="bi bi-x"></i></button>
        <button *ngIf="editingTask == t.id" class="btn btn-lg flex-shrink-1 btn-danger" (click)="click_DeleteTask(t.id)" aria-label="delete task"><i class="bi bi-trash"></i></button>
    </div>
</div>